body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/76/36/seamless-abstract-pattern-fashion-80-90s-vector-11997636.jpg);
}

section {
    width: 70%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding-right: 30px;
    padding-left: 30px;
    color: turquoise;
    background-color: yellow;
    border-radius: 25px;
    border: 4px solid turquoise;
}

#title {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 100pt;
    text-shadow: 2px 2px white;
}


.start {
    width: 40%;
    height: 150px;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 60pt;
    background-color: turquoise;
    color: white;
    border-radius: 10px;
}

.start:hover {
    background-color: pink;
}

#playAgain {
    width: 40%;
    height: 120px;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 60pt;
    padding-top: 30px;
    background-color: turquoise;
    color: white;
    border-radius: 10px;
}

#playAgain:hover {
    background-color: pink;
}

.box {
    display: block;
    width: 100%;
    height: 110px;
    text-align: center;
    font-size: 30pt;
}

#timer {
    font-size: 50pt;
}

.answer {
    display: block;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    text-align: center;
    font-size: 25pt;
    color: white;
    border-radius: 10px;
    background-color: turquoise;
}

.answer:hover {
    background-color: pink;
}

.imagePage {
    display: block;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: pink;
}

.correctImg {
    display: block;
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid turquoise;
    border-radius: 25px;
}
